
.auto-complete {
  width: 400px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  border: 1px solid var(--border-color);
  background: var(--white);
  border-radius: 8px;
  overflow: hidden;
}
.auto-complete svg {
  margin-top: 40px;
}

.auto-complete input {
  width: 250px;
  margin-top: 20px;
  outline: none;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  padding: 0 16px;
  height: 40px;
}

.suggestions-list {
  border: 1px solid var(--border-color);
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 200px;
  overflow-y: auto;
  padding-left: 0;
  width: 250px;
}
.suggestions-list::-webkit-scrollbar {
  width: 7px;
}

.suggestions-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0,0.4); 
  border-radius: 10px;
}

.suggestions-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px var(--blue); 
}

.suggestions-list  li + li {
  box-shadow: 0 0 1px rgba(0, 0, 0,0.2); 
}

.suggestions-list li {
  padding: 0.5rem;
  cursor: pointer;
}
.suggestions-list li:hover, 
.suggestions-list li.active {
  color: var(--blue)
}

.suggestions-list span {
  background-color: #fbe419;
  padding: 2px;
  font-weight: 600;
  font-style: italic;
  border-radius: 5px;
}